/* Primary color */
.primary-900 {
  background-color: #b90007;
}
.primary-800 {
  background-color: #c90016;
}
.primary-700 {
  background-color: #d5031e;
}
.primary-600 {
  background-color: #e71923;
}
.primary-500 {
  background-color: #f62822;
}
.primary-400 {
  background-color: #f24142;
}
.primary-300 {
  background-color: #e86868;
}
.primary-200 {
  background-color: #f29392;
}
.primary-100 {
  background-color: #ffc9ce;
}
.primary-50 {
  background-color: #ffe9ed;
}

/* Secondary color */
.secondary-900 {
  background-color: #fe7f00;
}
.secondary-800 {
  background-color: #ffaa00;
}
.secondary-700 {
  background-color: #ffc30f;
}
.secondary-600 {
  background-color: #ffdc1c;
}
.secondary-500 {
  background-color: #f8e814;
}
.secondary-400 {
  background-color: #fbed46;
}
.secondary-300 {
  background-color: #fdf16b;
}
.secondary-200 {
  background-color: #fef697;
}
.secondary-100 {
  background-color: #fffac1;
}
.secondary-50 {
  background-color: #fffee6;
}

/* Success color */
.success-600 {
  background-color: #00ae59;
}
.success-50 {
  background-color: #e3f7ec;
}

/* Danger color */
.danger-600 {
  background-color: #e71923;
}
.danger-50 {
  background-color: #ffe9ed;
}

/* Warning color */
.warning-600 {
  background-color: #fedf37;
}
.warning-50 {
  background-color: #ffffed;
}

/* Black color */
.black-900 {
  background-color: #000000;
}
.black-800 {
  background-color: #262626;
}
.black-700 {
  background-color: #434343;
}
.black-600 {
  background-color: #555555;
}
.black-500 {
  background-color: #7b7b7b;
}
.black-400 {
  background-color: #9d9d9d;
}
.black-300 {
  background-color: #c4c4c4;
}
.black-200 {
  background-color: #d9d9d9;
}
.black-100 {
  background-color: #e9e9e9;
}
.black-50 {
  background-color: #f5f5f5;
}

/* White color */
.white-900 {
  background-color: #ffffff;
}

/* Other colors */
.bg-50 {
  background-color: #f5f5f8;
}
.bg-secondary-50 {
  background-color: #fff4de;
}
.bg-border-50 {
  background-color: #f5f5f5;
}
.disabled-300 {
  background-color: #c4c4c4;
}

/* Texts */

/* Primary */
.text-primary-900 {
  color: #b90007;
}
.text-primary-800 {
  color: #c90016;
}
.text-primary-700 {
  color: #d5031e;
}
.text-primary-600 {
  color: #e71923;
}
.text-primary-500 {
  color: #f62822;
}
.text-primary-400 {
  color: #f24142;
}
.text-primary-300 {
  color: #e86868;
}
.text-primary-200 {
  color: #f29392;
}
.text-primary-100 {
  color: #ffc9ce;
}
.text-primary-50 {
  color: #ffe9ed;
}

/* Secondary */
.text-secondary-900 {
  color: #fe7f00;
}
.text-secondary-800 {
  color: #ffaa00;
}
.text-secondary-700 {
  color: #ffc30f;
}
.text-secondary-600 {
  color: #ffdc1c;
}
.text-secondary-500 {
  color: #f8e814;
}
.text-secondary-400 {
  color: #fbed46;
}
.text-secondary-300 {
  color: #fdf16b;
}
.text-secondary-200 {
  color: #fef697;
}
.text-secondary-100 {
  color: #fffac1;
}
.text-secondary-50 {
  color: #fffee6;
}

/* Success */
.text-success-600 {
  color: #00ae59;
}
.text-success-50 {
  color: #e3f7ec;
}

/* Danger */
.text-danger-600 {
  color: #e71923;
}
.text-danger-50 {
  color: #ffe9ed;
}

/* Warning */
.text-warning-600 {
  color: #fedf37;
}
.text-warning-50 {
  color: #ffffed;
}

/* Black */
.text-black-900 {
  color: #000000;
}
.text-black-800 {
  color: #262626;
}
.text-black-700 {
  color: #434343;
}
.text-black-600 {
  color: #555555;
}
.text-black-500 {
  color: #7b7b7b;
}
.text-black-400 {
  color: #9d9d9d;
}
.text-black-300 {
  color: #c4c4c4;
}
.text-black-200 {
  color: #d9d9d9;
}
.text-black-100 {
  color: #e9e9e9;
}
.text-black-50 {
  color: #f5f5f5;
}

/* White */
.text-white-900 {
  color: #ffffff;
}

/* Others */
.text-bg-50 {
  color: #f5f5f8;
}
.text-bg-secondary-50 {
  color: #fff4de;
}
.text-bg-border-50 {
  color: #f5f5f5;
}
.text-disabled-300 {
  color: #c4c4c4;
}
